body {
    font-family: Helvetica, Sans-Serif;
    overflow-x: hidden;
    max-width: 100%;
    display: flex;
    background-color: rgb(227, 240, 250);
}
.logoBarMain{
    display: flex;
    position: absolute;
    top: 0;
    left: 1px;
    background-color: rgb(40, 43, 73);
    width: 100%;
    height: 13%;
    align-items: center;
    color: white;
}
.logoBarProfile{
    position: absolute;
    right: 8%;
    font-size: 20px;
    font-weight: 600;
    border-style: solid;
    padding: 0;
    height: 60px;
    border-radius: 500px;
    margin-top: 0px;
    width: 150px;
}
.logoBarLogo{
    position: absolute;
    right: 90%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    top: -10px;
}

.sideBarMain{
    position: absolute;
    top: 15%;
    left: 1%;
    width: 20%;
    height: 80%;
}
.sideBarHead {
    background-color: rgb(40, 43, 73);
    width: 100%;
    height: 21%;
    line-height: 10px;
    margin: 0;
    color: white;
    font-weight: 800;
    font-size: 24px;
    border-radius: 20px 20px 0 0;
    padding-top: 5px;
    display: flex;
    display: block;
    justify-content: center;
}
.dropdownbtn {
    color: white;
    border-color: rgb(90, 127, 230);
    font-size: 12px;
    font-weight: 400px;
    border: solid;
    cursor: pointer;
    text-align:center;
    position: relative;
    border-width: 2px;
    padding: 5px;
    border-radius: 7px;
  }
  
  .dropdown {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  .dropdownContent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    border-radius: 10px;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px; /* Ensures proper size */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
  
.dropdownContent a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  
}

.dropdownContent a:first-child {
  border-radius: 10px 10px 0 0;
}

.dropdownContent a:last-child {
  border-radius: 0 0 10px 10px;
}
  
  .dropdown:hover .dropdownContent {
    display: block;
    color: black;
    border-radius: 10px;
  }
  

.sideBarContent {
    background-color: rgb(143, 188, 230);
    width: 97.7%;
    height: 79%;
    border-radius: 0 0 20px 20px;
    overflow: auto;
    padding: 3px;
}
.sideBarContent::-webkit-scrollbar {
    display: none;
    border-radius: 20px;
  }
.unit {
    text-align: left; 
    line-height: 100%; 
    width: 200px;
    font-size: 21px;
    margin-left: 18px;
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: 700;
}

.unit:hover {
  cursor:pointer;
}

.unitText {
    text-align: left; 
    line-height: 100%; 
    width: 200px;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: 400;
}
.section {
    text-align: left; 
    line-height: 100%; 
    width:200px; 
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 12px;
    font-weight: 600;
}
.sectionText {
    text-align: left; 
    line-height: 100%; 
    width:200px; 
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 12px;
    font-weight: 400;
}
.contentMain {
    margin-left: 20%;
    margin-top: 8%;
    padding-left: 35px;
    padding-top: 20px;
}